.frase {
  font-size: 25px;
  text-align: justify;
}

.icones {
  vertical-align: middle;
}

.campo-digitacao-desativado {
  background-color: lightgrey;
}

.campo-digitacao {
  font-size: 20px;
  height: 150px;
  border: 3px solid #000000;
}

.borda-verde {
  border: 6px solid #04860b;
  /* background-color: #04860b; */
}

.borda-vermelha {
  border: 6px solid #ac1308;
  /* background-color: #ac1308; */
}

.placar {
  display: none;
}

body {
  overflow: scroll;
}

#erro{
  color: #ac1308;
  display: none;
}

#spinner {
  display: none;
}

#frase-id {
  width: 40px;
}
